div.personajes {
  background-color: rgb(110, 42, 88);
}

div.Personaje {
  text-align: center;
  background-color: rgb(110, 42, 88);
}

div.sideDrawer {
  margin: 0.5rem;
  width: 180px;
}

div.especies {
  margin: 1rem;

 
}
