div.MyCard {
    margin: 0.5rem;
    background-color: rgb(41, 39, 39);
  div.card {
    
    div.card-body-horizontal {
      width: 300px;
    }
    div.card-body-vertical {
      width: 100px;
    }
  }
}
