div.Drawer {
  div * {
    background-color: rgb(41, 39, 39) !important;
  }
}
div.title {
  h4.Text {
    text-align: center;
    border: 0px;
    border-bottom: 2px;
    border-style: solid;
    border-color: #862e5f;
    margin: 0.5rem;
  }
}
